.form__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__container-input {
    margin: 7px 15px;
    padding: 10px 0px;
}

.form__container-input input{
    width: 25rem;
    height: 2rem;
    border-radius: 7px;
    border: 3px solid transparent;
    font-size: 16px;
    padding: 5px 10px;
    outline:none !important;
    background: wheat;
    
 }
.form__container-input input:focus{
    outline: none !important;
    border: 3px solid rgb(243, 122, 24);  
        
}


@media screen and (max-width:650px) {
    .form__container-input input{
        width: 19rem;
    }
}

.form__container-input p{
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: black;
}

.form__container-submit-btn{
    margin: 10px;

}

.form__container-submit-btn button{

    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    border: transparent;
    font-weight: 600;
    background-color: orange;

}