.form__navbar{
    display: flex;
    background: rgb(255 95 45);
    width: 100%;
    justify-content: space-between;
}

.form__navbar-form-name{
    margin: 0px 10px;
}

.form__navbar-form-name{
    font-family: var(--font-family);
    color: white;
    font-size: 25px;

}

.form__navbar-tabs{
        display: flex;
        flex-direction: row;
        margin: 0px 5px;
        align-items: center;


}

.form__navbar-tabs p{
    font-family:var(--font-family);
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    color:wheat;

}

.form__navbar-tabs p:hover{
    color: white
}

